.photo-preview__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.photo-preview__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.photo-preview__actions-container {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.photo-preview__actions-container > button {
  background-color: #fff;
  color: #000;
}